{% extends 'layout.html.twig' %}
{% block title %} {{ parent() }} -vehicule {%
endblock %} 


{% block content %} 

<div class="row mt-5 justify-content-left text-left">
    <div><img class="img-thumbnail" src="{{asset('photosVehicules/' ~ vehicule.photo)}}" alt="{{vehicule.photo}}"></div>
    <h3>titre: {{vehicule.titre}}</h3>
    {% if vehicule.DateEnregistrement is not null %}
            <h3>marque: {{vehicule.marque}}</h3>
            <h3>model: {{vehicule.model}}</h3>
            <h3>prix journalier: {{vehicule.prixJournalier}}€</h3>
    {% endif %}
    <h3>Description:</h3>
    <p> {{vehicule.description}}</p>
        </div>

 {% endblock content %}