{% extends "base.html.twig"%} {# on hérite de la page base.thml.twig #}

{% block body%}
{{ parent() }} {# permet de garder le contenu du block parent situé dans base#}

<header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Luxeloc</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path("app_home")}}">Accueil</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{path("client_app_client")}}">Vehicules</a>
                      </li>
                      {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                      <li class="nav-item">
                        <a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
                      </li>
                      {% else%}
                      <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                      </li>
                    {% endif%}
                      {#affichage SI L'UTILISATEUR EST AUTHENTIFIE ET A LE ROLE ADMIN#}
                      {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted("ROLE_ADMIN") %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="{{ path("admin_vehicule_ajout") }}">Ajout vehicule</a></li>
                          <li><a class="dropdown-item" href="{{ path("admin_app_vehicules") }}">Gestion de vehicules</a></li>
                        </ul>
                      </li>
                      {% endif %}
                    </ul>
                </div>
                <p class="m-right text-white">Bonjour!</p> 
                </div>
              </nav>     
    </header>
<main class="container mb-5 pb-5">
    {% for message in app.flashes('success') %}
      <div class="alert alert-success text-center">
        <p>{{ message }} </p>
      </div>
    {% endfor %}

        {% for message in app.flashes('error') %}
      <div class="alert alert-danger text-center">
        <p>{{ message }} </p>
      </div>
    {% endfor %}

    {% block content %}
    	{# ce block restera vide dans le layout, c'est là ou viendra s'inserer le contenu propre à chaque page #}
    {% endblock %}

    {% block final_js %}
        	{# ce block restera vide dans le layout, c'est là ou viendra s'inserer le contenu propre à chaque page #}
    {% endblock %}
</main>

<footer class="fixed-bottom bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{path('app_cgv')}}"> - CGV</a></li>
                <li class="nav-item"><a class="nav-link" href=""> - Nous contacter </a> </li>
                <li class="nav-item"><a class="nav-link" href=""> - Qui sommes nous</a>
                </li>
                <li class="nav-item"><a class="nav-link" href=""> - Nos Valeurs</a></li>
                <li class="nav-item"><a class="nav-link" href=""> - Devenir Blogueur </a>
                </li>
                <li class="nav-item"><a class="nav-link" href=""> - Rejoindre l'équipe</a></li>
            </ul>
        </div>
    </nav>
</footer>

{% endblock body%}